<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_hap._tcp</string>
		<string>_homekit._tcp</string>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_companion-link._tcp</string>
		<string>_sleep-proxy._udp</string>
		<string>_http._tcp</string>
		<string>_matter._tcp</string>
		<string>_matterc._udp</string>
		<string>_trel._udp</string>
	</array>
</dict>
</plist>
